* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", serif;
    width: 100%;

}

header {
    background: linear-gradient(90deg, #012342, #004a8d, #004a8d, #012342);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 1140px;
    height: 500px;
}

table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 15px;
    border-collapse: collapse;
}

th {
    height: 10px;
    padding: 15px;
    text-align: left;
}


td {
    height: 10px;
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-bottom: 2px solid #7c7d7e;
    /* Linha azul separando o cabeçalho */
}


#btn-details {
    width: 80px;
    height: 28px;
    border-radius: 8px;
    background-color: #004A8D;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#btn-details:hover {
    background-color: #188fff;
    transition: 0.5s;
}

#h2header {
    color: white;
    text-align: center;
    font-size: 2.4rem;
    margin-left: 20px;
}

.menu {
    height: 100%;
    width: 600px;
    justify-content: center;
    align-items: end;
    display: flex;


}

#tituloPainel {
    display: flex;
    align-items: center;
    font-size: 40px;
    height: 100px;
    width: 550px;
    color: #454545;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.paginasmenu {
    color: #F8F8F8;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
    font-size: 3.7rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 2px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #F8F8F8;
}

li {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;

}

ul :hover {
    color: #F7941D;
    transition: 0.4s;

}

a :hover {
    color: #F7941D;
    transition: 0.4s;

}

.menu a:hover svg {
    fill: #F7941D;
    transition: 0.3s;
}

.suportePainel {
    border: 1px solid #BCBCBC;
    display: flex;
    width: 700px;
    height: 60px;
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-between;



}

.menuleft {
    text-decoration: none;

    color: #004A8D;
    font-size: 1.6rem;
}

.menuright {
    text-decoration: none;
    color: #004A8D;
    font-size: 1.6rem;

}

#divgradientHome {
    width: 100%;
    height: 50px;
    background: linear-gradient(#005185, #ffffff);

}


.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.bottom-section1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* Espaçamento entre os campos */
    align-items: center;
    height: 100px;
}



.bottom-section2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* Espaçamento entre os campos */
    align-items: center;
    margin-top: 20px;

}



u {
    font-size: 16px;
    position: relative;
    bottom: 1.5px;
}


figure {
    width: 20px;
    margin: 5px;
}


.textCard {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(20, 44, 225) solid;
    width: 200px;
    height: 100px;
}




/* Estilizando o cabeçalho */
thead .header {
    color: black;
    border-bottom: 3px solid #004A8D;
    /* Linha azul separando o cabeçalho */
}







/* Centralizar a coluna "Detalhes" */
th:nth-child(5) td:nth-child(5) {
    text-align: right;
}



/* Linhas alternadas */
tbody tr:nth-child(odd) {
    background-color: #ffffff;
    /* Branco */
}

tbody tr:nth-child(even) {
    background-color: #e4e4e4;
    /* Cinza mais claro */
}



#Footerhistory {
    width: 100%;
    background-color: #005185;
    height: 120px;
    margin-top: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

#Footerhistory h2 {
    font-size: 2.4rem;
    color: #ffffff;
    margin-right: 20px;
}

#logoFooterhistory {
    width: 120px;
    height: 120px;
    margin-left: 20px;
}

.source {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    width: 100%;
}

.pesquisa {
    height: 30px;
    width: 250px;
    border: none;
}

.line {
    background-color: rgb(88, 88, 88);
    height: 1px;
    width: 221px;
    margin-left: 850px;

}

/* swal fire custom */


.custom-swal-popup {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }