body {
    margin: 0;
    flex-direction: column;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centraliza todo o conteúdo da página*/
    align-items: center;
    /* Centraliza todo o conteúdo da página*/
    background: url("./img/background.jpg") no-repeat center center;
    background-size: cover;
    /* Faz com que a imagem ocupe toda a largura */
    min-height: 100vh;
    /* Faz com que a imagem ocupe toda a altura */
}

.conteudo-principal {
    display: flex;
}

.card-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.conteudo {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    font-family: "Inter", serif;
    text-align: center;
    height: 400px;
}
.titulo {
    font-weight: 550;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
    font-size: 45px;
    letter-spacing: 0ex;
}

.boasVindas {
    font-family: "Poppins", serif;
    font-size: 35px;
    font-weight: 600;
}

.bloco-login {
    display: flex;
    margin-bottom: 15px;
    margin-left: 85px;
}

.card {
    width: 20px;
    height: 20px;
    padding-right: 10px;

}

.subtitulo {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-style: italic;
}

.matricula {
    background-color: #D5D5D5;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 35px;
    width: 300px;
}
.senha {
    background-color: #D5D5D5;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 35px;
    width: 300px;
}

.botao-acessar {
    margin-top: 20px;
    background-color: #004A8D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.logo-do-senac{
    width: 380px;
    height: 222px;
    margin-bottom: 30px;
}

@media (max-width: 320px) {
    body {
        background-size: auto;
    }
    .conteudo {
        width: 80vw;
        height: 60vh;
    }
    .logo-do-senac {
        width: 45vw;
        height: auto;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    .boasVindas {
        font-size: 1.5em;
    }
    .bloco-login {
        display: flex;
        margin-bottom: 5%;
        margin-left: 5%;
    }
    .matricula,
    .senha {
        width: 60vw;
        margin-bottom: 10%;
        padding: 4%;
    }
    .card-botao {
        margin-top: 0;
    }
    .botao-acessar {
        margin-top: 0;
    }
}

@media (min-width: 360px) and (max-width: 428px) {
    .conteudo {
        width: 75vw;
        height: 50vh;
    }
    .logo-do-senac {
        width: 45vw;
        height: auto;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    .boasVindas {
        font-size: 1.6em;
    }
    .bloco-login {
        display: flex;
        margin-bottom: 5%;
        margin-left: 5%;
    }
    .matricula,
    .senha {
        width: 60vw;
        margin-bottom: 10%;
        padding: 4%;
    }
    .card-botao {
        margin-top: 0;
    }
}

@media (min-width: 750px) and (max-width: 890px) {
    .conteudo {
        width: 65vw;
        height: 50vh;
    }
    .logo-do-senac {
        width: 35vw;
        height: auto;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    .boasVindas {
        font-size: 2.0em;
    }
    .bloco-login {
        display: flex;
        margin-bottom: 5%;
        margin-left: 10%;
    }
    .card{
        width: 4vw;
        height: auto;
        padding-right: 2vw;
    }
    .subtitulo{
        font-size: 1.5em;
    }
    .matricula,
    .senha {
        width: 50vw;
        margin-bottom: 8%;
        padding: 4%;
        font-size: 1.4em;
    }
    .card-botao {
        margin-top: 0;
    }
    .botao-acessar {
        font-size: 1.5em;
        width: 30vw;
        height: 6vh;
        border-radius: 8px;
    }
}