* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    width: 1920px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url('../image/header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
    height: 100%;
    width: 1920px;
    justify-content: center;
    align-items: end;
    display: flex;
    padding-bottom: 16px;

}

.menu a:hover {
    color: #F7941D;
}

.menu a:hover svg {
    fill: #F7941D;
}



.imgmenu {
    width: 28px;
    height: 28px;
    position: relative;
    top: 3px;
}

.imgmenu2 {
    width: 28px;
    height: 28px;
}

.paginasmenu {
    color: #F8F8F8;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 2px;
}

a {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #F8F8F8;
    transition: 300ms;
}

li {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    font-weight: 300;
}


.suportePainel {
    border: 1px solid #BCBCBC;
    display: flex;
    width: 700px;
    height: 60px;
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-between;
}

.menuleft {
    text-decoration: none;

    color: #004A8D;
    font-size: 1.6rem;
}

.menuright {
    text-decoration: none;
    color: #004A8D;
    font-size: 1.6rem;

}

#divgradientHome {
    width: 1920px;
    height: 50px;
    background: linear-gradient(#005185, #ffffff);
}



/* =========== FIM HEADER ===========*/

/* =========== INICIO SUPORTE ===========*/

#pagina-suporte {
    padding-inline: 390px;

}

#main-suporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    font-size: 30px;
    padding: 20px;
}

#content-suporte {
    display: flex;
    flex-direction: row;
}


#container-forms-suport {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    justify-content: center;
}

#formulario-suporte {
    display: flex;
    flex-direction: column;

}

.label-suporte {
    font-size: 2rem;
    color: #004A8D;
    margin-top: 20px;
    margin-bottom: 4px;
}

.input-suporte {
    border: 0.75px solid #004A8D;
    outline: 1px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 15px;
    background-color: #f1f1f1;
    transition: 3ms;

}

.input-suporte:focus {
    border: 0.75px solid #F7941D;
    border-bottom: 2px solid #F7941D;
    background-color: #ffffff;
    transition: 3ms;
}

.select-suporte {
    width: 100%;
    height: 30px;
}

.textarea-suporte {
    width: 100%;
    height: 200px;
    border: 0.75px solid #004A8D;
    background-color: #f1f1f1;
    font-size: 2rem;
    padding: 10px;

}

.textarea-suporte:focus {
    border: 0.75px solid #F7941D;
    background-color: #ffffff;
    transition: 400ms;
    padding: 10px;
    font-size: 2rem;

}

#container-btn-enviar {
    display: flex;
}

#btn-enviar {
    width: 256px;
    height: 59px;
    background-color: #004A8D;
    border-radius: 16px;
    font-size: 2.4rem;
    color: white;
    margin-top: 20px;
}

#img-pc {
    width: 150px;
    height: 90px;
    border: 1px solid #004A8D;
}

#container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ccontainer-inventario {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
}



/* =========== inicio FOOTER ===========*/
#rodape {
    width: 1920px;
    background-color: #005185;
    height: 120px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

#rodape h2 {
    font-size: 2.4rem;
    color: #ffffff;
    margin-right: 20px;
}

#logorodapeHome {
    width: 120px;
    height: 120px;
    margin-left: 20px;
}

/* =========== FIM FOOTER ===========*/