/* =========== RESET E GERAL =========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
    /* Tamanho base para fonte */
}

body {
    width: 1920px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 390px;
}

/* =========== HEADER =========== */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #012342, #004a8d, #004a8d, #012342);
}

.container-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    width: 390px;
}

.logo img {
    height: 80px;
}

.container-menu {
    flex: 1;
    display: flex;
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #F8F8F8;
    gap: 5px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    transition: 300ms;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    gap: 5px;
    padding-left: 5px;
    justify-content: center;
}

.menu a:hover {
    color: #F7941D;
    background-color: #012342;
}

.menu a:hover svg {
    fill: #F7941D;
}

li {
    padding: 5px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

/* =========== DIV GRADIENTE =========== */
#divgradientHome {
    width: 100%;
    height: 50px;
    background: linear-gradient(#005185, #ffffff);
}

/* =========== SEÇÃO SUPORTE =========== */


#main-suporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-titulo {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.container-icone {
    display: flex;
    flex-direction: row;
    width: 110px;
    height: 110px;
    padding-right: 17px;
}


.titulo {
    font-size: 6.6rem;
    color: #454545;
}

.container-paragrafo {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    color: #454545;
    padding-bottom: 20px;
    font-size: 1.8rem;
    line-height: 20px;
}

/* FORMULÁRIO DE SUPORTE */
#container-forms-suport {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formulario-suporte {
    display: flex;
    flex-direction: column;
}

.label-suporte {
    font-size: 2rem;
    color: #004A8D;
    margin-top: 35px;
    margin-bottom: 4px;
}

.input-suporte {
    border: 0.75px solid #004A8D;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-left: 15px;
    background-color: #f1f1f1;
    transition: 3ms;
}

.input-suporte::placeholder {
    font-weight: 100px;
}

.input-suporte:focus {
    border: 0.75px solid #F7941D;
    border-bottom: 2px solid #F7941D;
    background-color: #ffffff;
    outline: none;
}

select {
    width: 100%;
    height: 4rem;
    background-color: #E7E7E7;
    border: 0.7px solid #004A8D;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 1.6rem;
    outline: none;
    color: #005185;

}


select:focus {
    border-style: solid 0.7px;
}

select:hover {
    background-color: #e0e0e0;
}

select:focus {
    background-color: white;
    border: solid 1px #F7941D;
}

select option {
    height: 85px;
    padding: 10px;
    color: #012342;
}


.textarea-suporte {
    width: 100%;
    height: 200px;
    border: 0.75px solid #004A8D;
    border-radius: 8px;
    background-color: #f1f1f1;
    font-size: 2rem;
    padding: 20px;
}

.textarea-suporte:focus {
    border: 0.75px solid #F7941D;
    background-color: #ffffff;
    padding: 20px;
    font-size: 2rem;
    transition: 400ms;
    outline: none;
}



/* -----estilos botao */
#container-btn-enviar {
    display: flex;
}

.btn {
    width: 256px;
    height: 59px;
    border-style: none;
    background-color: #004A8D;
    border-radius: 16px;
    font-size: 2.4rem;
    color: white;
    margin-top: 20px;
    transition: 300ms;
    cursor: pointer;
    transition: 300ms;
}

.btn:hover {
    background-color: #F7941D;
    transition: 300ms;
}

.btn:active {
    transform: scale(0.95);
}

#btn-enviar:hover {
    background-color: #F7941D;
    transition: 300ms;
}

#btn-enviar:active {
    transform: scale(0.95);
    background-color: #012342;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#img-pc {
    display: flex;
}


#img-pc svg {
    width: 178px;
    height: 118px;
    display: flex;
}



#container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ccontainer-inventario {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
}

/* =========== FOOTER =========== */
#rodape {
    width: 100%;
    background: linear-gradient(90deg, #012342, #004a8d, #004a8d, #012342);
    height: 120px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rodape h2 {
    font-size: 2rem;
    color: #ffffff;
    padding-right: 50px;
}

footer .logo {
    width: 200px;
}

#checkbox {
    display: none;
}

/*================ INÍCIO RESPOSNIVIDADE /*================*/

@media (max-width: 1440px) {
    body {
        width: 1440px;
    }

    main {
        padding-inline: 220px;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    body {
        width: 1024px;
    }

    main {
        padding-inline: 100px;
    }

    header {
        height: 80px;
    }

    .logo {
        width: 150px;
    }

    .logo img {
        height: 60px;
    }

    .menu ul {

        font-size: 1.8rem;
        gap: 10px;
    }

    .menu a {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        gap: 1px;
        padding-left: 5px;
        justify-content: center;
    }

    .titulo {
        font-size: 4.4rem;
        color: #454545;
    }

}

/* Smartphones grandes */
@media (max-width: 767px) {
    body {
        width: 767px;
    }

    main {
        padding-inline: 30px;
    }

    header {
        height: 80px;
    }

    .logo {
        width: 120px;
    }

    .menu ul {
        font-size: 1.6rem;
        gap: 5px;
    }

    .container-menu {
        padding-left: 30px;
    }

    .menu a {
        width: 130px;
    }

    .titulo {
        font-size: 3.3rem;
        color: #454545;
    }

    .container-titulo {
        padding-bottom: 15px;
    }

    .container-paragrafo {
        font-size: 1.6rem;
        height: 40px;
    }

    .label-suporte {
        font-size: 1.8rem;
    }

    .input-suporte::placeholder {
        font-size: 1.4rem;
    }


    select {
        font-size: 1.4rem;
        color: #005185;
    }

    body>main>div.container-titulo>div.container-icone {
        width: 75px;
    }


}


/* Smartphones pequenos */
@media screen and (min-width: 300px) and (max-width: 420px) {
    body {
        width: 428px;
        font-size: 1.2rem;
    }

    .container-header {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .menu ul {
        align-items: center;
        height: 100%;
        flex-direction: column;
    }


    /* ================= menu hamburguer =================  */

    #checkbox {
        display: none;
        position: fixed;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .3s;
        margin-left: 30px;
    }

    .bars {
        width: 100%;
        height: 4px;
        background-color: rgb(253, 255, 243);
        border-radius: 5px;
        transition-duration: .3s;
    }


    #checkbox:checked+.toggle #bar2 {
        transform: translateY(14px) rotate(60deg);
        margin-left: 0;
        transform-origin: right;
        transition-duration: .3s;
        z-index: 2;
    }

    #checkbox:checked+.toggle #bar1 {
        transform: translateY(28px) rotate(-60deg);
        transition-duration: .3s;
        transform-origin: left;
        z-index: 1;
    }

    #checkbox:checked+.toggle {
        transform: rotate(-90deg);
        z-index: 2;
    }

    #checkbox:checked~.container-header {
        display: block;
    }

    #checkbox:checked~.container-header .container-menu {
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        padding-right: 30px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #012342, #004a8d, #004a8d, #012342);
    }

    #checkbox:checked~.container-header .container-menu .menu a {
        justify-content: start;
        width: 100vw;
        height: 80px;
        font-size: 2rem;
    }

    #checkbox:checked~.container-header .container-menu .menu a svg {
        width: 60px;
        height: 60px;
        margin-left: 30%;

    }

    #checkbox:checked~.container-header .container-menu .menu a #svg-laptop {
        width: 70px;
    }

    #checkbox:checked~.container-header .container-menu .menu ul {
        height: 100%;

    }

    #checkbox:checked~.container-header .container-menu .menu ul li {
        height: 100%;
        width: 100%;
        padding-left: 10px;
    }

    #rodape h2 {
        font-size: 1.2rem;

    }

    /* ================= FIM MENU HAMBURGUER =================  */


    /* conteudo da pagina */

    .container-paragrafo {
        font-size: 1.2rem;
        height: 40px;
    }

    .label-suporte {
        font-size: 1.4rem;
        padding-top: 15px;
    }

    .input-suporte::placeholder {
        font-size: 1rem;
    }

    select {
        font-size: 1.4rem;
        color: #005185;
    }

    .container-icone {
        height: 70px;
    }

    .container-icone svg {
        width: 100%;
        height: 100%;
    }

    #container-1 {
        justify-content: start;
    }

    #img-pc {
        display: flex;
        width: 35%;
    }

    #label-suporte-img-pc {
        margin-top: 0px;
    }

    #img-pc svg {
        width: 100%;
        height: 100%;
    }
    .label-suporte{
        margin-top: 2px;
    }
    
}