* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", serif;
    width: 100%;

}



.central-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 1140px;
}

table {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 15px;
    border-collapse: collapse;
    
}

th {
    height: 10px;
    padding: 15px;
    text-align: left;
}


td {
    height: 10px;
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-bottom: 2px solid #7c7d7e;
    /* Linha azul separando o cabeçalho */
}

.reservas-table::-webkit-scrollbar {
    width: 3px;
}

.reservas-table::-webkit-scrollbar-track {
    background: #C9C9C9;
    border-radius: 1px;
}

.reservas-table::-webkit-scrollbar-thumb {
    background: #004A8D;
    border-radius: 1px;
}

.reservas-table{
    width: 100%;
    max-height: 65vh; /* Não deixa crescer muito */
    overflow-y: auto; /* Ativa a rolagem quando necessário */
}

.btn-details {
    width: 80px;
    height: 30px;


    border-radius: 8px;
    background-color: #004A8D;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.btn-details:hover {
    background-color: #188fff;
    transition: 0.5s;
}
.btn-delete {
    height: 30px;
    width: 80px;

    border-radius: 8px;
    background-color: #F7941D;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.btn-delete:hover {
    background-color: #f76d1d;
    transition: 0.5s;
}


#tituloPainel {
    display: flex;
    align-items: center;
    font-size: 40px;
    height: 100px;
    width: 550px;
    color: #454545;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.paginasmenu {
    color: #F8F8F8;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
    font-size: 3.7rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 2px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #F8F8F8;
}

li {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;

}

ul :hover {
    color: #F7941D;
    transition: 0.4s;

}

a :hover {
    color: #F7941D;
    transition: 0.4s;

}

.menu a:hover svg {
    fill: #F7941D;
    transition: 0.3s;
}

.suportePainel {
    border: 1px solid #BCBCBC;
    display: flex;
    width: 700px;
    height: 60px;
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-between;



}

.menuleft {
    text-decoration: none;

    color: #004A8D;
    font-size: 1.6rem;
}

.menuright {
    text-decoration: none;
    color: #004A8D;
    font-size: 1.6rem;

}

#divgradientHome {
    width: 100%;
    height: 50px;
    background: linear-gradient(#005185, #ffffff);

}


.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.bottom-section1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* Espaçamento entre os campos */
    align-items: center;
    height: 100px;
}



.bottom-section2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* Espaçamento entre os campos */
    align-items: center;
    margin-top: 20px;

}



u {
    font-size: 16px;
    position: relative;
    bottom: 1.5px;
}


figure {
    width: 20px;
    margin: 5px;
}


.textCard {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(20, 44, 225) solid;
    width: 200px;
    height: 100px;
}

.carrossel-meses {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  .carrossel-meses button {
    background-color: #3085d6;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  .carrossel-meses button:hover {
    background-color: #1c6aa8;
  }

  #mes-atual {
    font-weight: bold;
    margin: 0 20px;
  }




/* Estilizando o cabeçalho */
thead .header {
    color: black;
    border-bottom: 3px solid #004A8D;
    /* Linha azul separando o cabeçalho */
}







/* Centralizar a coluna "Detalhes" */
th:nth-child(5) td:nth-child(5) {
    text-align: right;
}



/* Linhas alternadas */
tbody tr:nth-child(odd) {
    background-color: #ffffff;
    /* Branco */
}

tbody tr:nth-child(even) {
    background-color: #e4e4e4;
    /* Cinza mais claro */
}

.DivButton {

   width: 100%;
    margin-top: 40px; /* Dá um espaço entre a tabela e os botões */
    text-align: center; 
    display: flex;
    justify-content: center;
    gap: 20px;

    

}

.buttonInferior{
 padding: 15px;
 border-radius: 10px;
 border: none;
 background-color: #004A8D;
color: #ffffff;
font-weight: bold;
transition: 300ms;
cursor: pointer;

}

.buttonInferior:hover {
    background-color: #1d72c2;
    transition: 300ms;
}





.source {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    width: 100%;
}

.pesquisa {
    height: 30px;
    width: 250px;
    border: none;
}

.line {
    background-color: rgb(88, 88, 88);
    height: 1px;
    width: 221px;
    margin-left: 850px;

}

/* swal fire custom */


.custom-swal-popup {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  /* Estilo personalizado para o SweetAlert2 */
.swal2-popup {
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-color: #f1f1f1;
    border-radius: 1em;
    padding: 2em;
  }
  
  .swal2-title {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .swal2-html-container {
    color: black;
    background-color: #afafaf;
    padding: 1em;
    border-radius: 1em;
  }

  .swal2-icon{
    color: #F7941D !important;
    border-color: #F7941D !important;
  }
  
  
  .swal2-confirm {
    background-color: #F7941D !important;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  
  .swal2-confirm:hover {
    background-color: #f76d1d !important;
    transition: 0.2s;
  }
  .swal2-cancel {
    background-color: #fd0000 !important;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  
  .swal2-cancel:hover {
    background-color: #9e0000 !important;
    transition: 0.2s;
  }

  
  /* Layout de grade 2x2 */
  .reserva-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 1rem; /* Espaçamento entre as caixas */
  }
  
  /* Estilo de cada caixa de informação */
  .info-box {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .info-box p {
    margin: 0;
    font-size: 1.2rem;
    color: #004A8D;
  }
  .info-box strong {
    margin: 0;
    font-size: 1.5rem;
}



  /* Estilo para o texto truncado */
.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita o texto a 2 linhas */
    line-clamp: 3; /* Propriedade padrão */

    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Estilo para a caixa expandida */
  .info-box.expanded {
    grid-row: span 2; /* Expande a caixa para ocupar 2 linhas no grid */
  }
  
  .info-box.expanded .truncate-text {
    -webkit-line-clamp: unset; /* Remove a limitação de linhas */
    line-clamp: 3; /* Propriedade padrão */

  }