body {
    margin: 0;
    flex-direction: column;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centraliza todo o conteúdo da página*/
    align-items: center;
    /* Centraliza todo o conteúdo da página*/
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    /* Faz com que a imagem ocupe toda a largura */
    min-height: 100vh;
    /* Faz com que a imagem ocupe toda a altura */
}

.conteudo-principal {
    display: flex;
}

.card-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.conteudo {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    font-family: "Inter", serif;
    text-align: center;
    height: 400px;
}
.titulo {
    font-weight: 550;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
    font-size: 45px;
    letter-spacing: 0ex;
}

.boasVindas {
    font-family: "Poppins", serif;
    font-size: 35px;
    font-weight: 600;
}

.bloco-login {
    display: flex;
    margin-bottom: 15px;
    margin-left: 85px;
}

.card {
    width: 20px;
    height: 20px;
    padding-right: 10px;

}

.subtitulo {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-style: italic;
}

.matricula {
    background-color: #D5D5D5;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 35px;
    width: 300px;
}
.senha {
    background-color: #D5D5D5;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 35px;
    width: 300px;
}

.botao-acessar {
    margin-top: 20px;
    background-color: #004A8D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.logo-do-senac{
    width: 380px;
    height: 222px;
    margin-bottom: 30px;
}


@media screen and (max-width: 360px) {
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .matricula {
        background-color: #D5D5D5;
        border: none;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 220px;
    }
    .senha {
        background-color: #D5D5D5;
        border: none;
        padding: 15px;
        border-radius: 10px;
        width: 220px;
    }
    .bloco-login {
        display: flex;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .logo-do-senac{
        width: 40%;
        height: 10%;
        margin-bottom: 30px;
    }
    .boasVindas {
        font-family: "Poppins", serif;
        font-size: 25px;
        font-weight: 600;
    }
    .conteudo {
        width: 250px;
        height: auto;
    }
    .titulo {
        font-weight: 550;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        margin-top: 0;
        font-size: 30px;
        letter-spacing: 0ex;
    }

    body {
        background: url("./img/background-mobile.jpg") no-repeat center center;
        background-size: cover;
        /* Faz com que a imagem ocupe toda a largura */

    }
}

@media screen and (max-width: 600px) {
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo {
        width: 250px;
    }

    .titulo {
        font-weight: 550;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        margin-top: 0;
        font-size: 30px;
        letter-spacing: 0ex;
    }

    body {
        background: url("./img/background-mobile.jpg") no-repeat center center;
        background-size: cover;
        /* Faz com que a imagem ocupe toda a largura */

    }
}

@media screen and (max-width: 992px) {
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo {
        width: 250px;
    }

    .titulo {
        font-weight: 550;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        margin-top: 0;
        font-size: 30px;
        letter-spacing: 0ex;
    }

    body {
        background: url("./img/background-mobile.jpg") no-repeat center center;
        background-size: cover;
        /* Faz com que a imagem ocupe toda a largura */

    }
}